button {
    margin-top: 1em;
}

<<<<<<< HEAD
/*.invalid-feedback {
display: block;
}*/
=======
table.table {
    margin-top: 2em;
}

/*.invalid-feedback {*/
/*    display: block;*/
/*}*/
>>>>>>> upstream/master
